version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: shop_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: shop_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: shop_app
    restart: always
    command: python main.py
    volumes:
      - .:/app
      - media_data:/app/media
      - ./logs:/app/logs
    expose:
      - "8000"
    depends_on:
      db:
        condition: service_healthy
    environment:
      - DB_HOST=db
      # Убедись, что в app/config.py заданы SUPERADMIN_LOGIN и SUPERADMIN_PASSWORD
      # При старте app сам создаст админа и категории

  scheduler:
    build: .
    container_name: shop_scheduler
    restart: always
    command: python -m scripts.cleanup
    volumes:
      - .:/app
      - ./logs:/app/logs
    depends_on:
      db:
        condition: service_healthy

  nginx:
    image: nginx:alpine
    container_name: shop_nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      # 1. Берем наш новый конфиг и кладем его внутрь как основной
      - ./nginx/shop_ssl.conf:/etc/nginx/conf.d/default.conf
      
      # 2. Берем твои готовые сертификаты и кладем их в папку ssl внутри Nginx
      - ./final_certs:/etc/nginx/ssl:ro
      
      # 3. Прокидываем статику и медиа, чтобы Nginx мог их отдавать
      - .:/app
      - media_data:/app/media
    depends_on:
      - app

volumes:
  postgres_data:
  media_data: